body {
    background: steelblue;
}

.box {
    background: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
}

.container {
    padding-top: 15%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}
.containertext {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.buttonContainer > button {
    top: 50px;
}