body {
    background: cornflowerblue;
    height: 100%;
}

.box {
    background: white;
    width: 100px;
    height: 100px;
    left: 50px;

}

.container {

    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    bottom: 50px;
}
.buttonContainer {
    margin-top: 20px;
    display: flex;
    height: 2rem;
    justify-content: center;
    gap: 10px;
}

.buttonContainer > button {
    top: 50px;
}