body {
    background: cornflowerblue;
}

.box {
    background: white;
    width: 100px;
    height: 100px;
    left: 50px;

}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}