body {
    background: blue;
}

.boxtext {
    background: white;
    width: 100px;
    height: 100px;
    left: 50px;
    bottom: 50px;

}

.container {
    display: flex;
    gap: 30px;
    justify-content: left;
    align-content: center;
}

.containerbutton > button {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    top: 50px;
}