body {
    background: blue;
}

.boxnr {
    background: white;
    width: 100px;
    height: 100px;
    left: 50px;

}

.boxtext {
    background: white;
    width: 100px;
    height: 100px;
    left: 50px;

}

.containernr {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.containertext {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}