body {
    background: steelblue;
    margin-left: 30%;
    margin-right: 30%;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: left;
    align-content: center;
    padding-bottom: 30px;
}

.number-box {
    background: white;
    width: 50px;
    height: 50px;
}

.boxtext {
    background: white;
    width: 800px;
    height: 50px;
    text-align: center;
    vertical-align: middle;

}
.containerbutton > button {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    top: 50px;
}